<div class="col-md-6 col-md-offset-3">
  <!--<h3>All registered users:</h3>-->
  <ul class="collection with-header">
    <li class="collection-header"><h3>All registered users:</h3></li>
    <li class="collection-item" *ngFor="let user of users">
      {{user.name}}
      - {{user.email}}
      -
      <a class="btn-floating waves-effect waves-light green"><i class="tiny material-icons" (click)="updateUser(user)">edit</i></a>
      <a class="btn-floating waves-effect waves-light green"><i class="tiny material-icons" (click)="deleteUser(user.id)">clear</i></a>
      <!-- - <button (click)="deleteUser(user.id)">Delete</button>-->
    </li>
  </ul>
</div>
